{% extends '_base.html.twig' %}

{% block body %}
    <div id="arrow"><img src="{{ asset('bundles/app/images/arrow1.png') }}"></div>
    <div class="padding-top-200 margin-bottom-25">
        <div class="heading-1 transparent">сделайте ваш выбор</div>
    </div>
    <div class="container margin-top-bottom-25 transparent" id="instructions">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 margin-bottom-25">
                <div class="text-justify">
                    Эта наш каталог. Тут вы можете найти все доступные элементы для построения своей великолепной лендинговой страницы.
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 margin-bottom-25">
                <div class="text-justify">
                    Вы можете кликнуть на иконку глаза рядом с названием элемента, чтобы посмотреть, как он выглядит.
                    Чтобы добавить выбранный элемент на вашу страницу - кликните по его названию.
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 margin-bottom-25">
                <div class="text-justify">
                    Убедитесь в том, что вы выбрали все необходимые вам элементы, и они находится в нужной последовательности
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 margin-bottom-25">
                <div class="text-justify">
                    Для измениения порядка выбранных элментов нажмите на нужную стрелку. Для удаления элемента их списка, нажминте на крестик.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-12">
                <button id="instructions-btn" class="button-1">
                    Спрятать инструкции
                </button>
            </div>
        </div>
    </div>
    <div class="container transparent margin-top-bottom-25" id="catalog">
        <div class="row">
            <div class="col-sm-6 col-xs-12 list">
                {% for key, category in categories %}
                <div class="margin-bottom-25 list-block">
                    <div class="heading-3">
                        <span class="list-item-heading-number">{{ key + 1 }}.</span>
                        <span class="list-item-heading">{{ category.name }}</span>
                    </div>
                    <table class="table">
                        {% for element in category.elements %}
                        <tr>
                            <td width="90%">
                                <span data-id="{{ element.id }}" class="list-item">{{ element.name }}</span>
                            </td>
                            <td width="10%">
                                <a class="trigger"
                                   style="cursor: pointer"
                                   data-id="{{ element.id }}">
                                   <img class="eye-icon" src="{{ asset('bundles/app/images/eye.png') }}">
                                </a>
                            </td>
                        </tr>
                        <!-- Trigger the modal with a button -->
                        <button
                                style="display: none"
                                id="button{{ element.id }}"
                                class="btn-link"
                                type="button"
                                data-toggle="modal"
                                data-target="#modal{{ element.id }}">
                        </button>

                        <!-- Image Modal -->
                        <div id="modal{{ element.id }}" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <img style="width: 100%" src="{{ asset('samples/img/' ~ element.id ~ '.jpeg') }}">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-6 col-xs-12" id="order-column">
                <div class="heading-3">Вы выбрали</div>
                <table class="table order-list">
                    <tr class="order-list-item">
                        <td width="5%">
                            <img src="{{ asset('bundles/app/images/cross.png') }}" class="delete">
                        </td>
                        <td width="85%">
                            <span data-id="" class="text">placeholder</span>
                        </td>
                        <td width="5%">
                            <img src="{{ asset('bundles/app/images/arrow-up.png') }}" class="arrow-up">
                        </td>
                        <td width="5%">
                            <img src="{{ asset('bundles/app/images/arrow-down.png') }}" class="arrow-down">
                        </td>
                    {#</tr>#}
                </table>
                <div class="row">
                    <div class="col-xs-6" >
                        <button class="button-1 order-list-button" id="delete-btn">Очистить</button>
                    </div>
                    <div class="col-xs-6" >
                        <button class="button-1 order-list-button"
                                id="confirm-btn"
                                type="button"
                                data-toggle="modal"
                                data-target="#project-name-modal">Подтвердить
                        </button>
                    </div>

                    <!-- Modal -->
                    <div id="project-name-modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <div class="heading-2" style="text-align: center">Название проекта</div>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <input class="input-text-25"
                                                   id="name-input"
                                                   type="text"
                                                   placeholder="Введите название проекта">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <button class="button-1 margin-top-bottom-25 order-list-button"
                                                    id="confirm-name-btn">
                                                Подтвердить
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            //Perform external scripts
            arrowDown(1500, 450);
            appear('.heading-1', 'left');
            appear('#instructions', 'left', 100);
            appear('#catalog', 'left', 200);
            slideUp('#instructions-btn', '#instructions');
            switchSrcOnHover('.eye-icon', '{{ asset('bundles/app/images/eye-hover.png') }}');
            switchSrcOnHover('.arrow-up', '{{ asset('bundles/app/images/arrow-up-hover.png') }}');
            switchSrcOnHover('.arrow-down', '{{ asset('bundles/app/images/arrow-down-hover.png') }}');
            switchSrcOnHover('.delete', '{{ asset('bundles/app/images/cross-hover.png') }}');
            shiftAnimationOnClick('.list-item', 30, 50);

            //Setting variables for order list manipulations
            var order = [];
            var orderList = $('.order-list');
            var firstRun = true;
            var runFinished = false;

            //Keeps order visible                                                                           - NOT COOL -
            function keepOrderVisible() {
                var current = $(window).scrollTop();
                var startPoint = $('.list').position().top;
                var offset = current - startPoint;
                var orderColumn = $('#order-column');
                if (orderColumn.height() < $(window).height()) {
                    if (offset >= 0) {
                        orderColumn.css({"margin-top": offset});
                    } else {
                        orderColumn.css({"margin-top": 0});
                    }
                } else {
                    orderColumn.css({"margin-top": 0});
                }
            }

            //Trigger elements' picture modal by clicking on eye image
            $(".trigger").click(function () {
                var id = $(this).data("id");
                $('#button' + id).trigger( "click" );
            });

            // Add items to the order list
            $('.list-item').click(function () {
                var orderListItem = $('.order-list-item:first');
                var heading = $(this).parents('.list-block').find('.list-item-heading').text();
                var text = $(this).text();
                var id = $(this).data('id');

                if (firstRun) {
                    firstRun = false;
                    orderListItem.find('.text')
                        .text(heading + ' ' + text)
                        .data('id', id);
                    $('.order-list-item:last').animate({opacity: 1}, 300, "swing", function () {
                        runFinished = true;
                    });
                    showButtons();
                    updateOrder();
                } else {
                    if (runFinished) {
                        runFinished = false;
                        orderListItem
                            .clone(true)
                            .appendTo('.order-list')
                            .find('.text')
                            .text(heading + ' ' + text)
                            .data('id', id);
                        $('.order-list-item:last').css({"opacity": 0}).animate({opacity: 1}, 300, "swing", function () {
                            runFinished = true;
                        });
                        showButtons();
                        updateOrder();
                    }
                }
            });

            //Clear order list
            $('#delete-btn').click(function () {
                console.log(order);
                hideButtons();
                clearOrder();
            });

            //Confirm the order, send AJAX to controller where assign order to a new users' project
            $('#confirm-name-btn').click(function () {

                var projectName = $('#name-input').val();

                if (projectName.length > 0) {
                    $.ajax({
                        url: "{{ path('site_catalog') }}",
                        type: "POST",
                        dataType: "json",
                        data: {
                            "ids": order,
                            "name": projectName
                        },
                        async: true,
                        success: function (data) {
                            window.location.href = data;
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR, textStatus, errorThrown);
                        }
                    });
                }

            });


            //Delete order item
            $('.delete').click(function () {
                var item = $(this).parents('.order-list-item');
                if (orderList.find('.order-list-item').length > 1) {
                    item.animate({opacity: 0}, 200, 'swing', function () {
                        item.remove();
                        updateOrder();
                    });
                } else {
                    item.animate({opacity: 0}, 200, 'swing', function () {
                        order = [];
                        firstRun = true;
                        hideButtons();
                    });
                }
            });

            //Move order item up
            $('.arrow-up').click(function () {
                var item = $(this).parents('.order-list-item');
                var prevItem = item.prev();
                if (prevItem.length > 0) {
                    prevItem.animate({opacity: 0}, 200);
                    item.animate({opacity: 0}, 200, 'swing', function () {
                        item.insertBefore(prevItem);
                        updateOrder();
                    });
                    prevItem.animate({opacity: 1}, 200);
                    item.animate({opacity: 1}, 200);
                }
            });

            //Move order item down
            $('.arrow-down').click(function () {
                var item = $(this).parents('.order-list-item');
                var nextItem = item.next();
                if (nextItem.length > 0) {
                    nextItem.animate({opacity: 0}, 200);
                    item.animate({opacity: 0}, 200, 'swing', function () {
                        item.insertAfter(nextItem);
                        updateOrder();
                    });
                    nextItem.animate({opacity: 1}, 200);
                    item.animate({opacity: 1}, 200);
                }
            });

            //Shows order buttons if hidden
            function showButtons() {
                var buttons = $('.order-list-button');
                if (buttons.css('display') === "none") {
                    buttons.css({'display': 'inline', 'height': 0}).animate({height: "35px"});
                }
            }

            //Hides order buttons if shown
            function hideButtons() {
                var buttons = $('.order-list-button');
                if (!(buttons.css('display') === "none" )) {
                    buttons.animate({height: 0}, 200, 'swing', function () {
                        buttons.css({'display': 'none'});
                    });
                }
            }

            //Keeps current order as an array
            function updateOrder() {
                order = [];
                $('.order-list tr').map(function (index, element) {
                    var id = $(element).find('.text').data('id');
                    order.push(id);
                });
            }

            //Clears the order list
            function clearOrder() {
                if (orderList.find('.order-list-item').length > 1) {
                    orderList.find('.order-list-item:last').animate({opacity: 0}, 150, 'swing', function () {
                        orderList.find('.order-list-item:last').remove();
                        clearOrder();
                    });
                } else {
                    orderList.find('.order-list-item:last').animate({opacity: 0}, 150, 'swing');
                    order = [];
                    firstRun = true;
                    runFinished = false;
                }
            }
        });
    </script>
{% endblock %}