{% extends '_base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/plugin/prefect-scrollbar/css/perfect-scrollbar.min.css') }}">
{% endblock %}

{% block body %}
    <img src="{{ asset('bundles/app/images/arrow1.png') }}" id="arrow">
    <div class="jumbotron whole-screen-box no-margin no-padding">
        <div class="align-center-center-outer">
            <div class="align-center-center-inner">
                <div class="heading-1 transparent">ваша прекрасная лендинговая страница</div>
                <div class="heading-2 transparent">начинается здесь</div>
            </div>
        </div>
    </div>
    <div id="top" class="container">
        <div class="row margin-top-bottom-25">
            <div class="text-block-text-container col-sm-6 col-xs-12 pull-right">
                <div class="text-block-heading">Создать свой сайт - легко</div>
                <div class="text-block-main-text">
                    <div>
                        С помощью нашего сервиса вы можете создать и загрузить свою собственную лендинговую страницу (сайт-визитку) буквально в несколько кликов. Это не требует никаких специлаьных знаний или программного обеспечения. Просто выберете из списка элментов те, которые понравились вам больше всего, выстройте их так, чтобы посетитель вашего сайта узнал о вашем продукте или услуге все, что ему нужно. А затем с легкостью узнал ваши контактные данные, чтобы приобрести ваш товар или воспользоваться услугой.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 text-block-image-container" id="startup1"></div>
        </div>
        <div class="row margin-top-bottom-25">
            <div class="text-block-text-container col-sm-6 col-xs-12 ">
                <div class="text-block-heading">Это абсолютно бесплатно</div>
                <div class="text-block-main-text">
                    <div>
                        Вы создаете свой сайт с помощью нашего сервиса и можете загрузить его в любой момент. Мы не навязываем вам свой хостинг или доменное имя. Сэкономленные деньги вы можете вложить в свой бизнес или потратить на одых с семьей или путешествия.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 text-block-image-container" id="startup2"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 margin-top-25 margin-bottom-100">
                <button id="create-now" data-action="{{ path('site_catalog') }}" class="button-2">СОЗДАТЬ</button>
            </div>
        </div>
    </div>
    {#<div id="#createnow" data-action="{{ path('site_catalog') }}" class="heading-2 cursor-pointer margin-top-25 margin-bottom-100">создать сейчас!</div>#}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/plugin/prefect-scrollbar/js/perfect-scrollbar.jquery.min.js') }}"></script>
    <script>
        $(function() {

            var callbackWrapper = function () {
                blink('.heading-2', 700, 1);
            };

            $('#create-now').click(function () {
                window.location.href = $(this).data('action');
            });

            //Animating actual elements
            appear('.heading-1', 'left');
            appear('.heading-2', 'left', 100, 1200, callbackWrapper);
            arrowDown(1500, 450);
            dim('a');

            // Resize text block to current window settings
            textBlockResize();

            //Apply prefect-scrollbar plugin for text-block
            $('.text-block-main-text > div').perfectScrollbar();

            // On window size change perform:
            $(window).resize(function(){
                //Resize text block
                textBlockResize();
                //Update perfect-scrollbar
                $('.text-block-main-text > div').perfectScrollbar('update');
            });



            //Perform sliding to the text block after clicking on trigger (heading-2)
            (function () {
                var trigger = $('.heading-2');
                var menuButton = $('.menu-button');
                $('html, body').css({overflow: 'hidden', height: '100%'});
                trigger.click(function(){
                    menuButton.animate({opacity: 0}, 250,'swing', function () {
                        $('#arrow').animate({opacity: 0}, 250,'swing', function () {
                            $('.whole-screen-box').animate({opacity: 0}, 450);
                            $('html, body').css({overflow: 'auto', height: 'auto'});
                            $('html,body').animate({scrollTop: $('#top').offset().top}, 1500, function () {
                                $('.whole-screen-box').remove();
                                $('html,body').animate({scrollTop: $('#top').offset().top}, 0, 'swing', function () {
                                    menuButton.animate({opacity: 1}, 250, 'swing');
                                });
                            });
                        });
                    });

                });
            })();
        });
    </script>
{% endblock %}