{% extends '_base.html.twig' %}

{% block body %}
    {% include '_confirmation.html.twig' %}
    <div id="arrow"><img src="{{ asset('bundles/app/images/arrow1.png') }}"></div>
    <div class="padding-top-200 margin-bottom-25">
        <div class="heading-1 transparent" id="email">{{ user.email }}</div>
        <div class="text-align-center">
            <a class="menu-text transparent" id="changePasswordRef" href="{{ path('security_change_password') }}">ИЗМЕНИТЬ ПАРОЛЬ</a>
        </div>
        {% if projects.count() > 0 %}
        <div class="container transparent margin-top-bottom-25" id="table">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tr>
                            <td width="70%">
                                <b>Название проекта</b>
                            </td>
                            <td width="10%">
                                <b>Дата</b>
                            </td>
                            <td width="10%">
                                <b>Заполнить</b>
                            </td>
                            <td width="10%">
                                <b>Удалить</b>
                            </td>
                        </tr>
                        {% for project in projects %}
                            <tr>
                                <td width="70%">
                                    {{ project.name }}
                                </td>
                                <td width="10%">
                                    {{ project.date.format('d.m.y') }}
                                </td>
                                <td width="10%">
                                    <a class="icons" href="{{ path('project_index', {'projectId': project.id})}}">
                                        <span class="glyphicon glyphicon-pencil"></span> <span class="glyphicon glyphicon-download-alt">
                                    </a>
                                </td>
                                <td width="10%">
                                    <span class="remove icons glyphicon glyphicon-remove"
                                          data-action="{{ path('project_delete', {'projectId': project.id})}}">
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-12">
                    <button id="link-button" data-action="{{ path('site_catalog') }}" class="button-1">Создать новый проект</button>
                </div>
            </div>
        </div>
        {% else %}
            <div class="margin-top-bottom-25 transparent" id="message">
                <div class="text-align-center">
                    <span class="heading-2">Здесь будут отображаться ваши проекты</span>
                </div>
                <div class="text-align-center">
                    <a class="menu-text" href="{{ path('site_catalog') }}">СОЗДАТЬ СВОЙ ПЕРВЫЙ ПРОЕКТ</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            arrowDown(1500, 450);
            appear('#email', 'left');
            appear('#changePasswordRef', 'left', 100);
            appear('#message', 'left', 200);
            appear('#table', 'left');
            dim('a');
            confirm();

            $('#link-button').click(function () {
                window.location.href = $(this).data('action');
            });
        });
    </script>
{% endblock %}