<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}landing{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/plugin/bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/images/favicon.ico') }}" />
    </head>
    <body>
        <!-- Trigger the modal with a button -->
        <span class="menu-button glyphicon glyphicon-th-list"></span>

        <!-- Modal -->
        <div id="menu-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h1 class="text-align-center">МЕНЮ АДМИНКИ</h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 text-align-center">
                                <a class="menu-text" href="{{ path('admin_add_dependency') }}">Добавить зависимость</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-align-center">
                                <a class="menu-text" href="{{ path('admin_add_category') }}">Добавить категорию конструктора</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-align-center">
                                <a class="menu-text" href="{{ path('admin_add_element') }}">Добавить элемент конструктора</a>
                            </div>
                        </div>
                        <div class="row margin-bottom-25">
                            <div class="col-xs-12 text-align-center">
                                <a class="menu-text" href="{{ path('admin_index') }}">Показать статистику</a>
                            </div>
                        </div>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="row">
                                <div class="col-xs-12 text-align-center">
                                    <a class="menu-text" href="{{ path('profile') }}">Профиль</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-xs-12 text-align-center">
                                <a class="menu-text" href="{{ path('site_catalog') }}">Каталог</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-align-center">
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <a class="menu-text" href="{{ path('security_logout') }}">Выйти</a>
                                {% else %}
                                    <a class="menu-text" href="{{ path('security_login') }}">Войти</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
        <script src="{{ asset('bundles/app/plugin/jquery/js/jquery-3.2.1.js') }}"></script>
        <script src="{{ asset('bundles/app/plugin/bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/app/js/MainScript.js') }}"></script>
        <script>
            $(function () {
                appear('.menu-button', 'left', 300);
                $('.menu-button').click(function () {
                    $('#menu-modal').modal('toggle');
                });
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
