<div id="confirmation-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="heading-3" style="text-align: center">Вы уверены?</div>
            </div>
            <div class="row  margin-bottom-25">
                <div class="col-sm-10 col-sm-offset-1 col-md-5 col-md-offset-1">
                    <button type="button" data-dismiss="modal" style="color: darkred" class="button-1">
                        Отмена
                    </button>
                </div>
                <div class="col-sm-10 col-md-5">
                    <button id="agree" style="color: green" class="button-1">
                        Да, уверен
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>