<div id="message-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="heading-3" style="text-align: center">{{ message }}</div>
            </div>
            <div class="row  margin-bottom-25">
                <div class="col-sm-6 col-sm-offset-3">
                    <button type="button" data-dismiss="modal" class="button-1">
                        Ок
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>