{% extends "_base_admin.html.twig" %}

{% block body %}
    {% if message != '' %}
        {% include '_message.html.twig' %}
    {% endif %}
    <div id="arrow"><img src="{{ asset('bundles/app/images/arrow1.png') }}"></div>
    <div class="padding-top-200 margin-bottom-25">
        <div class="heading-1 transparent">Добавить категорию конструктора</div>
        <div class="container margin-top-bottom-25 transparent" id="form">
            <div class="row">
                {{ form_start(form) }}
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    {{ form_widget(form.dependencies, {"attr": {"class": "form-control dropmenu", "title": "Выберите зависимости"}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    {{ form_widget(form.name, {"attr": {"class": "input-text-25", "placeholder": "Название категории"}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="solid-grey-border margin-top-bottom-5">
                        <div class="text-align-center">
                            <span class="roboto-font">HTML</span>
                        </div>
                        <div>
                            {{ form_widget(form.htmlFile) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="solid-grey-border margin-top-bottom-5">
                        <div class="text-align-center">
                            <span class="roboto-font">CSS</span>
                        </div>
                        <div>
                            {{ form_widget(form.cssFile) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="solid-grey-border margin-top-bottom-5">
                        <div class="text-align-center">
                            <span class="roboto-font">JavaScript</span>
                        </div>
                        <div>
                            {{ form_widget(form.jsFile) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <button class="button-1" type="submit">Добавить</button>
                </div>
            </div>
            {{ form_end(form) }}
            <div class="row">
                {% if categories %}
                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                        <div><h3 class="roboto-font">Существующие категории:</h3></div>
                        <ul>
                            {% for category in categories %}
                                <li><h4 class="roboto-font">{{ category.name }} id: {{ category.id }}</h4></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            appear('.heading-1', 'left');
            appear('.heading-2', 'left');
            appear('#form', 'left', 100);
            dim('a');
            arrowDown(1500, 450);

            if ($('#message-modal').length) {
                $('#message-modal').modal('toggle');
            }
        });
    </script>
{% endblock %}