{% extends "_base_admin.html.twig" %}

{% block body %}
    {% if message != '' %}
        {% include '_message.html.twig' %}
    {% endif %}
    <div id="arrow"><img src="{{ asset('bundles/app/images/arrow1.png') }}"></div>
    <div class="padding-top-200 margin-bottom-25">
        <div class="heading-1 transparent">Добавить элемент конструктора</div>
        <div class="container margin-top-bottom-25 transparent" id="form">
            <div class="row">
            {{ form_start(form) }}
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    {{ form_widget(form.category, {"attr": {"class": "form-control dropmenu"}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    {{ form_widget(form.isIterable, {"attr": {"class": "form-control dropmenu margin-top-10"}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    {{ form_widget(form.name, {"attr": {"class": "input-text-25", "placeholder": "Название элемента"}}) }}
                </div>
            </div>
            <div class="row placeholders">
                <div class="col-md-offset-3 col-md-2 col-sm-12">
                    <input type="text" class="input-text-25 phinput" id="placeholder" placeholder="Плейсхолдер">
                </div>
                <div class="col-md-2 col-sm-12">
                    <input type="text" class="input-text-25 phinput" id="placeholder-name" placeholder="Название">
                </div>
                <div class="col-md-2 col-sm-12">
                    <select id="placeholder-type" class="form-control dropmenu margin-top-10">
                        {% for type in types %}
                            <option value={{ type }}>{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-4 col-sm-12">
                    <button class="button-1" id="add-placeholder">+</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="solid-grey-border margin-top-bottom-5">
                        <div class="text-align-center">
                            <span class="roboto-font">Изображение для каталога</span>
                        </div>
                        <div>
                            {{ form_widget(form.image) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="solid-grey-border margin-top-bottom-5">
                        <div class="text-align-center">
                            <span class="roboto-font">HTML</span>
                        </div>
                        <div>
                            {{ form_widget(form.htmlFile) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="solid-grey-border margin-top-bottom-5">
                        <div class="text-align-center">
                            <span class="roboto-font">CSS</span>
                        </div>
                        <div>
                            {{ form_widget(form.cssFile) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="solid-grey-border margin-top-bottom-5">
                        <div class="text-align-center">
                            <span class="roboto-font">JavaScript</span>
                        </div>
                        <div>
                            {{ form_widget(form.jsFile) }}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {{ form_widget(form.placeholders, {"attr": {"class": "display-none"}}) }}
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <button class="button-1" type="submit">Добавить</button>
                </div>
            </div>
            {{ form_end(form) }}
            <div class="row">
                {% if elements %}
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div><h3 class="roboto-font">Существующие элементы:</h3></div>
                    <ul>
                        {% for element in elements %}
                            <li><h4 class="roboto-font">{{ element.category.name }} {{ element.name }} id: {{ element.id }}</h4></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            arrowDown(1500, 450);
            appear('.heading-1', 'left');
            appear('.heading-2', 'left');
            dim('a');
            appear('#form', 'left', 100);

            if ($('#message-modal').length) {
                $('#message-modal').modal('toggle');
            }

            var placeholderElement = $('.placeholders:first').clone(true);
            var count = 1;
            var maxCount = 10;
            var placeholders = [];

            $('#add-placeholder').click(function (e) {
                e.preventDefault();
                if (count < maxCount) {
                    placeholderElement
                        .clone(true)
                        .insertAfter($(".placeholders:last"));
                    count++;
                }
            });

            $("form").submit(function () {
                $('.placeholders').each(function () {
                    var placeholder = $(this).find("#placeholder").val();
                    var placeholderName = $(this).find("#placeholder-name").val();
                    var placeholderType = $(this).find("#placeholder-type").val();
                    if (placeholder != "" && placeholderName != "" && placeholderType != "") {
                        placeholders.push({placeholder: placeholder, name: placeholderName, type: placeholderType});
                    }
                });
                $('#element_placeholders').val(JSON.stringify(placeholders));
                return true;
            })
        });
    </script>
{% endblock %}