{% extends "_base_admin.html.twig" %}

{% block body %}
    {% include '_confirmation.html.twig' %}
    <div id="arrow"><img src="{{ asset('bundles/app/images/arrow1.png') }}"></div>
    <div class="padding-top-200 margin-bottom-25">
        <div class="heading-1 transparent">Статистика</div>
        <div class="container transparent" id="statistic">
            <div class="row">
                <div class="col-xs-12">
                    <button class="button-2" data-toggle="collapse" data-target="#users">
                        Пользователи: {{ users|length }}
                    </button>
                </div>
            </div>
            <div class="row collapse" id="users">
                <div class="col-xs-12">
                    <table class="table">
                        <tr>
                            <td width="5%">
                                <b>id</b>
                            </td>
                            <td width="35%">
                                <b>Почта</b>
                            </td>
                            <td width="30%">
                                <b>Кол-во проектов</b>
                            </td>
                            <td width="30%">
                                <b>Роли</b>
                            </td>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <td width="5%">
                                    {{ user.id }}
                                </td>
                                <td width="35%">
                                    {{ user.username }}
                                </td>
                                <td width="30%">
                                    {{ user.projects|length }}
                                </td>
                                <td width="30%">
                                    {{ user.roles|join(', ') }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="button-2" data-toggle="collapse" data-target="#projects">
                        Проекты: {{ projects|length }}
                    </button>
                </div>
            </div>
            <div class="row collapse" id="projects">
                <div class="col-xs-12">
                    <table class="table">
                        <tr>
                            <td width="5%">
                                <b>id</b>
                            </td>
                            <td width="35%">
                                <b>Пользователь</b>
                            </td>
                            <td width="30%">
                                <b>Название проекта</b>
                            </td>
                            <td width="30%">
                                <b>Дата</b>
                            </td>
                        </tr>
                        {% for project in projects %}
                            <tr>
                                <td width="5%">
                                    {{ project.id }}
                                </td>
                                <td width="35%">
                                    {{ project.user.username }}
                                </td>
                                <td width="45%">
                                    {{ project.name }}
                                </td>
                                <td width="15%">
                                    {{ project.date.format('d.m.y') }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="button-2" data-toggle="collapse" data-target="#dependencies">
                        Зависимости: {{ dependencies|length }}
                    </button>
                </div>
            </div>
            <div class="row collapse" id="dependencies">
                <div class="col-xs-12">
                    <table class="table">
                        <tr>
                            <td width="5%">
                                <b>id</b>
                            </td>
                            <td width="85%">
                                <b>Название зависимости</b>
                            </td>
                            <td width="10%">
                                <b>Удалить</b>
                            </td>
                        </tr>
                        {% for dependency in dependencies %}
                            <tr>
                                <td width="5%">
                                    {{ dependency.id }}
                                </td>
                                <td width="85%">
                                    {{ dependency.name }}
                                </td>
                                <td width="10%">
                                    <span class="remove icons glyphicon glyphicon-remove"
                                          data-action="{{ path('admin_delete_dependency', {'id': dependency.id}) }}">
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="button-2" data-toggle="collapse" data-target="#categories">
                        Категории: {{ categories|length }}
                    </button>
                </div>
            </div>
            <div class="row collapse" id="categories">
                <div class="col-xs-12">
                    <table class="table">
                        <tr>
                            <td width="5%">
                                <b>id</b>
                            </td>
                            <td width="85%">
                                <b>Название категории</b>
                            </td>
                            <td width="10%">
                                <b>Удалить</b>
                            </td>
                        </tr>
                        {% for category in categories %}
                            <tr>
                                <td width="5%">
                                    {{ category.id }}
                                </td>
                                <td width="85%">
                                    {{ category.name }}
                                </td>
                                <td width="10%">
                                    <span class="remove icons glyphicon glyphicon-remove"
                                          data-action="{{ path('admin_delete_category', {'id': category.id})}}">
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="button-2" data-toggle="collapse" data-target="#elements">
                        Элементы: {{ elements|length }}
                    </button>
                </div>
            </div>
            <div class="row collapse" id="elements">
                <div class="col-xs-12">
                    <table class="table">
                        <tr>
                            <td width="5%">
                                <b>id</b>
                            </td>
                            <td width="45%">
                                <b>Название категории</b>
                            </td>
                            <td width="40%">
                                <b>Название элемента</b>
                            </td>
                            <td width="10%">
                                <b>Удалить</b>
                            </td>
                        </tr>
                        {% for element in elements %}
                            <tr>
                                <td width="5%">
                                    {{ element.id }}
                                </td>
                                <td width="45%">
                                    {{ element.category.name }}
                                </td>
                                <td width="40%">
                                    {{ element.name }}
                                </td>
                                <td width="10%">
                                    <span class="remove icons glyphicon glyphicon-remove"
                                          data-action="{{ path('admin_delete_element', {'id': element.id})}}">
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            arrowDown(1500, 450);
            appear('.heading-1', 'left', 100);
            appear('#statistic', 'left', 100);
            confirm();
        });
    </script>
{% endblock %}