@font-face {
    font-family: JulisSansOne;
    src: url('../fonts/juliussansone-regular-webfont.eot');
    src: url('../fonts/juliussansone-regular-webfont.eot#iefix')
            format('embedded-opentype'),
         url('../fonts/juliussansone-regular-webfont.woff')
            format('woff'),
         url('../fonts/juliussansone-regular-webfont.ttf')
            format('truetype'),
         url('../fonts/juliussansone-regular-webfont.svg')
            format('svg');
}
@font-face {
    font-family: Assistant;
    src: url('../fonts/assistant-regular-webfont.eot');
    src: url('../fonts/assistant-regular-webfont.eot#iefix')
    format('embedded-opentype'),
    url('../fonts/assistant-regular-webfont.woff')
    format('woff'),
    url('../fonts/assistant-regular-webfont.ttf')
    format('truetype'),
    url('../fonts/assistant-regular-webfont.svg')
    format('svg');
}
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot#iefix')
    format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff')
    format('woff'),
    url('../fonts/OpenSans-Light.ttf')
    format('truetype'),
    url('../fonts/OpenSans-Light.svg')
    format('svg');
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot#iefix')
    format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff')
    format('woff'),
    url('../fonts/Roboto-Regular.ttf')
    format('truetype'),
    url('../fonts/Roboto-Regular.svg')
    format('svg');
}

/*___________________________________________________VVV___GENERAL___VVV______________________________________________*/

body {
    font-family: OpenSans, JulisSansOne, sans-serif;
}
.collapsable {
    height: 0;
}
.cursor-pointer:hover {
    cursor: pointer;
}
.menu-button, .menu-button:visited, .menu-button:focus {
    padding-left: 5%;
    opacity: 0;
    padding-top: 1%;
    position: fixed;
    z-index: 9999;
    font-size: 30px;
    color: grey;
}
.menu-button:hover, .menu-button:active {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.menu-text, .menu-text:visited {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: grey;
}
.menu-text:hover, .menu-text:active {
    color: black;
    text-decoration: none;
}
.dropmenu {
    height: 35px;
    border-radius: 0;
    border-color: grey;
}
.solid-grey-border {
    border: solid grey 1px;
}
.text-align-center {
    text-align: center;
}
.no-padding {
     padding: 0 0 0 0;
 }
.padding-top-200 {
    padding-top: 200px;
}
.no-margin {
    margin: 0 0 0 0;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}
.margin-bottom-100 {
    margin-bottom: 100px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-25 {
    margin-top: 25px;
}
.display-none {
    display: none;
}
.margin-top-bottom-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.align-center-center-outer {
    display: table;
    height: inherit;
    width: 100%;
}
.align-center-center-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.whole-screen-box {
    height: 100vh;
    background-color: white;
}
#instructions {
    border: solid grey 1px;
    padding:  20px 20px 20px 20px;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    animation: appearance 2.5s;
}
.table {
    font-size: 20px;
    font-family: OpenSans, JulisSansOne, sans-serif;
    text-transform: none !important;
}
.order-list {
}
.order-list-item {
    opacity: 0;
}
.list-item:hover {
    cursor: pointer;
}
.order-list-button {
    display: none;
}
.arrow-up:hover, .arrow-down:hover, .delete:hover {
    color: black;
    cursor: pointer;
}
.eye-icon, .arrow-up, .arrow-down, .delete {
    display: inline-block;
    height: 25px;
}
.icons {
    font-size: 75%;
    color: black;
}
.icons:hover {
    color: grey;
    cursor: pointer;
}
.heading-1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}
.heading-2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}
.heading-2:hover {
    cursor: pointer;
    /* For browsers that do not support gradients */
    background: #f3f3f3;
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(left,transparent,transparent,#f3f3f3,transparent,transparent);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(left,transparent,transparent,#f3f3f3,transparent,transparent);
    /* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(left,transparent,transparent,#f3f3f3,transparent,transparent);
    /* Standard syntax */
    background: linear-gradient(to right,transparent,transparent,#f3f3f3,transparent,transparent);
}
.heading-3 {
    font-family: OpenSans, JulisSansOne, sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(192, 192, 192, 0.6);
    outline: 0 none;
}
.roboto-font {
    font-family: Roboto, sans-serif;
}
.font-size-20 {
    font-size: 20px;
}
.button-1 {
    text-align: center;
    border: 1px solid grey;
    font-size: 16px;
    width: 100%;
    height: 35px;
    background: white;
    margin-top: 10px;
    color: grey;
}
.button-1:hover {
    background: #cfc9d1;
    color: #fff;
}
.button-1:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(192, 192, 192, 0.6);
    outline: 0 none;
}
.button-2 {
    text-align: center;
    border: 1px solid grey;
    font-size: 30px;
    width: 100%;
    height: 45px;
    background: white;
    margin-top: 10px;
    color: #4d4d4d;
}
.button-2:hover {
    background: #cfc9d1;
    color: #fff;
}
.button-2:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(192, 192, 192, 0.6);
    outline: 0 none;
}
.input-text-25 {
    margin-top: 10px;
    width: 100%;
    height: 35px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: grey;
    background: white;
    text-align: center;
}
.input-textarea {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    border: 1px solid grey;
    background: white;
    text-align: left;
}
.transparent {
    opacity: 0;
}
.error {
    color: darkred;
}
#arrow {
    position: absolute;
    visibility: hidden;
}

/*___________________________________________________VVV___TEXT_BLOCK___VVV___________________________________________*/

.margin-top-bottom-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.margin-top-bottom-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-block-text-container-outer {
}
.text-block-main-text > div {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: justify;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}
.text-block-heading {
    text-transform: uppercase;
    text-align: left;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    padding: 0 8px 10px 8px;
}

.text-block-image-container {
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
#startup1 {
    background-image: url('../images/img1.jpg');
}
#startup2 {
    background-image: url('../images/img2.jpg');
}