{% extends '_base.html.twig' %}

{% block body %}
    <div id="arrow"><img src="{{ asset('bundles/app/images/arrow1.png') }}"></div>
    <div class="padding-top-200 margin-bottom-25">
        <div class="heading-1 transparent">{{ project_content.element.category.name }}</div>
        <div class="heading-1 transparent">{{ project_content.element.name}}</div>
        <div class="container margin-top-bottom-25 transparent" id="form">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    {{ form_widget(form) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <button class="button-1" type="submit">Добавить</button>
                </div>
            </div>
            {{ form_end(form) }}
        <div>
        {% if errors %}
            {% for error in errors %}
                <div class="heading-2 transparent margin-top-bottom-25 error">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            arrowDown(1500, 450);
            appear('.heading-1', 'left');
            appear('.heading-2', 'left');
            appear('.heading-3', 'left');
            appear('#form', 'left', 100);
            dim('a');
            $('ul').css('display', 'none');
        });
    </script>
{% endblock %}