{% extends '_base.html.twig' %}

{% block body %}
    <div id="arrow"><img src="{{ asset('bundles/app/images/arrow1.png') }}"></div>
    <div class="padding-top-200 margin-bottom-25">
        <div class="heading-1 transparent">
            {{ project.name }}
            {#{% if downloadable == true%}#}
                {#<a class="icons" href="{{ path('project_download', {'projectId': project.id}) }}"><span class="glyphicon glyphicon-download-alt"></span></a>#}
            {#{% endif %}#}
        </div>
        <div class="container transparent margin-bottom-25" id="table">
            <div class="row">
                <div class="col-sm-12 margin-top-10">
                    <table class="table">
                        {% for project_content in project.contents %}
                            <tr>
                                <td width="40%">
                                    {{ project_content.element.category.name }}
                                </td>
                                <td width="40%">
                                    {{ project_content.element.name }}
                                </td>
                                <td width="20%">
                                    {% if project_content.isEmpty %}
                                        <a href="{{ path('project_constructor_step', {'projectId': project.id, 'step': project_content.number}) }}">Заполнить</a>
                                    {% else %}
                                        <span style="color: green">Заполнен</span> <span style="color: green" class="glyphicon glyphicon-ok"></span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <button id="link-button" data-action="{{ path('profile') }}" class="button-1">
                        &#8592 К списку проектов
                    </button>
                </div>
                {% if downloadable == true%}
                    <div class="col-md-6 col-sm-12">
                        <button id="download" class="button-1">
                            Загрузить
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            arrowDown(1500, 450);
            appear('.heading-1', 'left');
            appear('.heading-3', 'left');
            appear('#table', 'left');
            dim('a');

            $('#link-button').click(function () {
                window.location.href = $(this).data('action');
            });

            $('#download').click(function () {
                window.location.href = '{{ path('project_download', {'projectId': project.id}) }}'
            });
        });
    </script>
{% endblock %}