{% extends '_base.html.twig' %}

{% block body %}
    {% if message != '' %}
        {% include '_message.html.twig' %}
    {% endif %}
    <div id="arrow"><img src="{{ asset('bundles/app/images/arrow1.png') }}"></div>
    <div class="padding-top-200 margin-bottom-25">
        <div class="heading-1 transparent">Смена пароля</div>
        <div class="container">
            <div class="roboto-font transparent" id="change-password-form">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-3 col-sm-3 col-xm-12">
                        {{ form_widget(form.oldPassword, {"attr": {"class": "input-text-25", "placeholder": "Старый пароль"}}) }}
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xm-12">
                        {{ form_widget(form.plainPassword.first, {"attr": {"class": "input-text-25", "placeholder": "Новый пароль"}}) }}
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xm-12">
                        {{ form_widget(form.plainPassword.second, {"attr": {"class": "input-text-25", "placeholder": "Повторите новый пароль"}}) }}
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xm-12">
                        <button class="button-1" type="submit">Поменять пароль</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            arrowDown(1500, 450);
            appear('.heading-1', 'left');
            appear('#change-password-form', 'left', 200);
            dim('a');

            if ($('#message-modal').length) {
                $('#message-modal').modal('toggle');
            }
        });
    </script>
{% endblock %}