{% extends '_base.html.twig' %}

{% block body %}
    <img id="arrow" src="{{ asset('bundles/app/images/arrow1.png') }}">
    <div class="jumbotron whole-screen-box no-margin no-padding">
        <div class="align-center-center-outer">
            <div class="align-center-center-inner">
                <div class="heading-1 transparent">
                    {% if error %}
                        <span>что-то пошло не так</span>
                    {% else %}
                        пожалуйста, выполните вход на сайт
                    {% endif %}
                </div>
                <div class="container">
                    <div class="roboto-font transparent" id="login-form">
                        <form action="{{ path('security_login') }}" method="post">
                            <div class="row">
                                <div class="col-lg-4 col-sm-4 col-xm-12">
                                    <input class="input-text-25" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Эл.почта" />
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xm-12">
                                    <input class="input-text-25" type="password" id="password" name="_password" placeholder="Пароль" />
                                </div>
                                <div class="col-lg-4 col-sm-4 col-xm-12">
                                    <button class="button-1" type="submit">Войти</button>
                                </div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                            </div>
                        </form>
                    </div>
                </div>
                {% if error %}
                    <div class="heading-2 transparent margin-top-bottom-25 error">{{ error }}</div>
                {% endif %}
                <div class=" font-size-20 roboto-font transparent margin-top-bottom-25" id="reg-prompt">
                    <a href="{{ path('security_registration') }}">Еще не зарегистрировались?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/js/MainScript.js') }}"></script>
    <script>
        $(function () {
            appear('.heading-1', 'left');
            appear('.heading-2', 'left', 500);
            appear('#reg-prompt', 'left', 500);
            appear('#login-form', 'left');
            arrowDown(1500, 450);
            dim('a');
        });
    </script>
{% endblock %}