{% extends '_base.html.twig' %}

{% block body %}
    <img id="arrow" src="{{ asset('bundles/app/images/arrow1.png') }}">
    <div class="jumbotron whole-screen-box no-margin no-padding">
        <div class="align-center-center-outer">
            <div class="align-center-center-inner">
                <div class="heading-1 transparent">
                    {% if message != '' %}
                        <span>что-то пошло не так</span>
                    {% else %}
                        пожалуйста, зарегистрируйтесь
                    {% endif %}
                </div>
                <div class="container">
                    <div class="roboto-font transparent" id="registration-form">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-lg-3 col-sm-3 col-xm-12">
                                {{ form_widget(form.email, {"attr": {"class": "input-text-25", "placeholder": "Эл.почта"}}) }}
                            </div>
                            <div class="col-lg-3 col-sm-3 col-xm-12">
                                {{ form_widget(form.plainPassword.first, {"attr": {"class": "input-text-25", "placeholder": "Пароль"}}) }}
                            </div>
                            <div class="col-lg-3 col-sm-3 col-xm-12">
                                {{ form_widget(form.plainPassword.second, {"attr": {"class": "input-text-25", "placeholder": "Повторите пароль"}}) }}
                            </div>
                            <div class="col-lg-3 col-sm-3 col-xm-12">
                                <button class="button-1" type="submit">Зарегистрироваться</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                {% if message != '' %}
                    {% for error in message %}
                        <div class="heading-2 transparent error margin-top-bottom-25">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <div class=" font-size-20 roboto-font transparent margin-top-bottom-25" id="reg-prompt">
                    <a href="{{ path('security_login') }}">Уже есть аккаунт?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/js/MainScript.js') }}"></script>
    <script>
        $(function () {
            appear('.heading-1', 'left');
            appear('.heading-2', 'left', 500);
            appear('#reg-prompt', 'left', 500);
            appear('#registration-form', 'left');
            arrowDown(1500, 450);
            dim('a');
        });
    </script>
{% endblock %}